<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> <!-- you can take this out -->
    <link rel='stylesshet' href='/stylesheets/main.css'/> <!-- need to start with a forward slash -->
  </head>
  <body>
    <a href="/">HOME</a>
    {{{body}}}
  </body>
</html>
