<h1>{{name}}</h1>
<h4>{{role}}</h4>
<p>{{bio}}</p>

<!-- optional image here -->
<img src="/images/{{bioPic}}" alt="user image"> 
{{!-- remember when you are working with exprss and nodes, images and videos need to have these img src thing still --}}
