<h1>{{name}}</h1>
<h4>{{role}}</h4>


<!-- optional image here -->
<img src="/images/{{bioPic}}" alt="user image"> <!-- pointing back into the public folder where the images folder is --> <!-- images and video need the forward slash to get into the public folder -->
<p>{{bio}}</p>
